<div class="main-section">
  <h2 class="main-section__subtitle">Skills</h2>
  <a href="https://visitcount.itsvg.in">
    <img src="https://visitcount.itsvg.in/api?id=william-moura&label=Willam%20Moura&pretty=true" />
  </a>
  <div class="main-section__container">
    <app-card-item title="HTML5" src="html5-logo" alt="logo HTML5" [progress]="90"></app-card-item>
    <app-card-item title="CSS" src="css-logo" alt="css logo" [progress]="70"></app-card-item>
    <app-card-item title="JS" src="js-logo" alt="css logo" [progress]="80"></app-card-item>
    <app-card-item title="Angular" src="angular-logo" alt="angular logo" [progress]="56"></app-card-item>
    <app-card-item title="PHP" src="php-logo" alt="php logo" [progress]="80"></app-card-item>
    <app-card-item title="Laravel" src="laravel-logo" alt="laravel logo" [progress]="80"></app-card-item>
    <app-card-item title="Mysql" src="mysql-logo" alt="mysql logo" [progress]="90"></app-card-item>
    <app-card-item title="Docker" src="docker-logo" alt="Docker logo" [progress]="50"></app-card-item>
    <app-card-item title="Vue" src="vue-logo" alt="Vue logo" [progress]="70"></app-card-item>
    <app-card-item title="Git" src="git-logo" alt="Git logo" [progress]="90"></app-card-item>
    <app-card-item title="Node" src="node-logo" alt="Node logo" [progress]="20"></app-card-item>
    <app-card-item title="TypeScript" src="ts-logo" alt="Node logo" [progress]="65"></app-card-item>
    <app-card-item title="Linux" src="tux-logo" alt="logo mascote do Linux" [progress]="60"></app-card-item>
    <app-card-item title="Sass" src="sass-logo" alt="logo Sass" [progress]="30"></app-card-item>
  </div>
  <div class="main-section__list">
  </div>
</div>
