<table class="five-col-table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th>Receita/Despesa</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Financiamento</td>
            <td>R$ 1150,00</td>
            <td>07/11/2025</td>
            <td>Despesa</td>
            <td>Casa</td>
        </tr>
        <tr>
            <td>Luz</td>
            <td>R$ 420,00</td>
            <td>30/10/2025</td>
            <td>Despesa</td>
            <td>Casa</td>
        </tr>
    </tbody>
</table>
