$sidebar-width: 250px;

.app-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.main-container {
    // Cria o espaço para a sidebar fixa
    margin-left: $sidebar-width; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // Garante que o container ocupe o restante da largura
    width: calc(100% - #{$sidebar-width}); 
}

.content-area {
    padding: 20px;
    flex-grow: 1; // Permite que a área de conteúdo preencha o restante
}