<p>william works!</p>
<article>
    <h2>William Moura</h2>
    <img src="../../../assets/images/william.jpg" alt="William Moura">
    <p>I`m a backend developer, i like to program on the web.</p>
    <span>This is my skills:</span>
    <ul>
        <li>Angular</li>
        <li>Node</li>
        <li>TypeScript</li>
        <li>EcmaScript</li>
        <li>PHP</li>
        <li>MySQL</li>
        <li>Laravel</li>
    </ul>
</article>
<footer>
    <p>Follow me on social networks</p>
    <p><a href="https://github.com/william-moura"><i class="fab fa-github"></i>github</a></p>
    <p><a href="https://www.linkedin.com/in/william-moura-99b12783/"><i class="fab fa-github"></i>linkedin</a></p>
</footer>
