<p>{{title}}</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th *ngFor="let column of columns">
                {{ column }}
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>Teste</td>
        </tr> -->
        <tr *ngFor="let row of rows">
            <td><input type="checkbox" ></td>
            <td *ngFor="let column of columns">
                {{ row[column] }}
            </td>
        </tr>
    </tbody>
</table>
